{% extends '_base.twig' %}


{% block title %}{% endblock %}


{% block content %}
    <div class="container container-sticky">

        <div class="section row">

            <div class="col-lg-8">
                <div class="container-inner">
                    <div class="title text-left pl-2">
                        <h1>Jaké knížky jsme už probírali?</h1>
                    </div>
                    <ul class="list-unstyled mt-3">
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-0"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Laurinec</a> hodnotil</p>
                                <div class="stars-sm stars-sm-0h"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">List-based media object</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-1"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-1h"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-2"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-2h"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-3"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-3h"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-4"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-4h"></div>
                            </div>
                        </div>
                      </li>
                      <li class="media">
                        <a href="">
                            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                            <h5>Tomer Sharon</h5>
                            <div class="score">
                                <p><a href="" class="link-score">Tom Kubina</a> hodnotil</p>
                                <div class="stars-sm stars-sm-5"></div>
                            </div>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>

            <span class="col-lg-4">
                <div class="sidebar">
                    <div class="article w-100 pt-0">
                        <h2 class="mb-3">Kde a kdy?</h2>
                        {# <a href="https://www.google.cz/maps/place/Pra%C5%BEsk%C3%A9+kreativn%C3%AD+centrum/@50.0865911,14.4192914,18.75z/data=!4m5!3m4!1s0x470b94e9398a9f61:0xa6aa23079a25ab79!8m2!3d50.086606!4d14.4198376" target="blank">
                            <img src="images/layer-1.png" class="img-sidebar">
                        </a> #}
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item" id="map"></div>
                        </div>
                    </div>
                    <div class="article d-flex">
                        <div class="icon">
                            <a href="https://www.google.cz/maps/place/Pra%C5%BEsk%C3%A9+kreativn%C3%AD+centrum/@50.0865911,14.4192914,18.75z/data=!4m5!3m4!1s0x470b94e9398a9f61:0xa6aa23079a25ab79!8m2!3d50.086606!4d14.4198376" target="blank">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail">
                            <h5 class="mb-3">Pražské Kreativní Centrum<br>Staroměstské náměstí 4</h5>
                            <p>2. patro, místnost 202, nalevo od schodů</p>
                        </div>
                    </div>
                    <div class="article">
                        <div class="dflex">
                            <div class="icon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="detail mb-3">
                                <h5>Každou 2. středu v měsíci</h5>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn-thin btn-fb float-left mb-2">
                                Událost na Facebooku
                            </a>
                            <a href="" class="btn-thin btn-mu float-left">Událost na MeetUpu</a>
                        </div>
                    </div>
                    <!-- <div class="article">
                        <h2 class="mb-3">Kdo jsme?</h2>
                        <img src="images/layer-2.png"  class="img-sidebar">
                    </div> -->
                </div>
            </span>

        </div><!-- row -->

    </div>
{% endblock %}

{% block footerJs %}
    <script>
        function initMap() {
            var location = { lat: 50.0871196, lng: 14.4200954 };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 17,
                    center: location,
                    fullscreenControl: true,
                    scaleControl: true,
                    rotateControl: true,
                    mapTypeControl: false,
                    streetViewControl: true,
                    mapTypeId: 'roadmap',
                    styles: [{
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "blue"
                            }]
                        },
{
                            "elementType": "labels.icon",
                            "stylers": [{
                                "visibility": "off"
                            }]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#616161"
                            }]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [{
                                "color": "#f5f5f5"
                            }]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#bdbdbd"
                            }]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#eeeeee"
                            }]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#757575"
                            }]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#e5e5e5"
                            }]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#9e9e9e"
                            }]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#ffffff"
                            }]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#757575"
                            }]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#dadada"
                            }]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#616161"
                            }]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#9e9e9e"
                            }]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#e5e5e5"
                            }]
                        },
                    ]
                },
            );
            var marker = new google.maps.Marker(
                {
                    position: location,
                    map: map,
                    draggable: true,
                }
            );
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhhmS_yOg49HSVZLVQo6A0rBHgWey4bk4&amp;callback=initMap">
    </script>
{% endblock %}
