{% extends '_base.twig' %}


{% block title %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="container-inner">
                    <div class="title text-left pl-2">
                        <h1>Jaké knížky jsme už probírali v Brně?</h1>
                    </div>
                    <ul class="list-unstyled mt-3">
                        <li class="media">
                            <a href="">
                                <img class="d-flex mr-3" src="images/1.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                                <h5>Tomer Sharon</h5>
                                <div class="score d-flex">
                                    <p><a href="" class="link-score">Tom Kubina</a> hodnotil<img class="img-score" src="images/5-stars.png"></p>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="">
                                <img class="d-flex mr-3" src="images/2.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                                <h5>Tomer Sharon</h5>
                                <div class="score d-flex">
                                    <p><a href="" class="link-score">Tom Laurinec</a> hodnotil<img class="img-score" src="images/4-stars.png"></p>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="">
                                <img class="d-flex mr-3" src="images/3.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h2 class="mt-0 mb-1">List-based media object</h2>
                                <h5>Tomer Sharon</h5>
                                <div class="score d-flex">
                                    <p><a href="" class="link-score">Tom Kubina</a> hodnotil<img class="img-score" src="images/5-stars.png"></p>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="">
                                <img class="d-flex mr-3" src="images/1.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h2 class="mt-0 mb-1">Validating Product Ideas</h2>
                                <h5>Tomer Sharon</h5>
                                <div class="score d-flex">
                                    <p><a href="" class="link-score">Tom Kubina</a> hodnotil<img class="img-score" src="images/5-stars.png"></p>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="">
                                <img class="d-flex mr-3" src="images/2.png" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h2 class="mt-0 mb-1">Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered</h2>
                                <h5>Tomer Sharon</h5>
                                <div class="score d-flex">
                                    <p><a href="" class="link-score">Tom Kubina</a> hodnotil<img class="img-score" src="images/4-stars.png"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="article pt-0">
                        <h2 class="mb-3">Kde a kdy?</h2>
                        <a href="https://www.google.cz/maps/place/Brno/@49.1857191,16.504139,12z/data=!4m5!3m4!1s0x4712943ac03f5111:0x400af0f6614b1b0!8m2!3d49.1950602!4d16.6068371">
                            <img src="images/layer-1.png" class="img-sidebar">
                        </a>
                    </div>
                    <div class="article d-flex">
                        <div class="icon">
                            <a href="https://www.google.cz/maps/place/Brno/@49.1857191,16.504139,12z/data=!4m5!3m4!1s0x4712943ac03f5111:0x400af0f6614b1b0!8m2!3d49.1950602!4d16.6068371">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail">
                            <h5>Brno<br>někde</h5>
                            <p>Kdekoliv</p>
                        </div>
                    </div>
                    <div class="article">
                        <div class="d-flex">
                            <div class="icon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="detail mb-2">
                                <h5>Občas</h5>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn-thin btn-fb float-left mb-2">
                                Událost na Facebooku
                            </a>
                            <a href="" class="btn-thin btn-mu float-left">Událost na MeetUpu</a>
                        </div>
                    </div>
                    <!-- <div class="article">
                        <h2 class="mb-3">Kdo jsme?</h2>
                        <img src="images/layer-2.png"  class="img-sidebar">
                    </div> -->
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}
